<h1><%= @band.name %>'s Page</h1>

<%= link_to "All bands", bands_url %>
<br /><br />

<%= button_to "Edit", edit_band_url(@band), method: :get %>
<br />
<%= button_to "Destroy", band_url(@band), method: :delete %>
<br />

<h3>Albums</h3>
<%#= link_to "Add album", new_band_album_url %>
<%= render "album", albums: @band.albums.includes(:tracks) %>
