<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%#= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/errors' %>
<nav>
  <% if logged_in? %>
  <p>
    <%= current_user.email %> logged in
  </p>
  <%= button_to "Sign Out", session_url, method: :delete %>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
